<?php include_once('/var/www/html/header.inc'); ?>
<!--header-->
<form method="post" action="confirm.html">
<body>
ユーザ名：<br>
<input type="text" name="client_name" size="30" maxlength="30" placeholder="username"><br>
名前（苗字 名前）：<br>
<input type="text" name="full_name" size="30" maxlength="30" placeholder="健康 太郎"><br>
生年月日：<br>
<input type="date" name="birth_date" placeholder="1980-01-01"><br>
性別：<br>
<input type="radio" name="sex" value="男性" placeholder="man" checked> 男性
<input type="radio" name="sex" value="女性" placeholder="woman"> 女性<br>
郵便番号：<br>
<input type="text" name="postal_code" size="30" maxlength="7" placeholder="1231234"><br>
住所：
<!--
Todo:自動入力
<button>郵便番号から住所を自動入力</button><br>
-->
<input type="text" name="address" size="30" maxlength="30" placeholder="東京都港区六本木1-2-3"><br>
メールアドレス：
<input type="text" name="email_address" size="30" maxlength="30" placeholder="abc@health.com"><br>

パスワード（8文字以上を推奨します）：<br>
<input type="password" name="password" size="30" maxlength="30" placeholder="●●●●●●●●"><br>
パスワード（確認のためもう一度）：<br>
<input type="password" name="password" size="30" maxlength="30" placeholder="●●●●●●●●"><br>

<input type="submit" value="確認">
</form>
</body>
<!--hooter-->
<?php include_once('/var/www/html/footer.inc'); ?>
